.wp-github-contributors {}
.wp-github-contributors h2 {
  font-size: 20px;
  border: 0px;
}

.wp-github-contributors ul {}
.wp-github-contributors ul li {
  height: 50px;
  border-top: 1px dotted #aaa;
  padding-top: 3px;
}


.wp-github-contributors ul li.last {
  border-bottom: 1px dotted #aaa;
}

.wp-github-contributors ul li a {
  font-size: 16px;
}

.wp-github-contributors ul li a img {
  border: 1px solid #eee;
  padding: 2px;
  width: 40px;
  height: 40px;
  position: absolute;
}

.wp-github-contributors ul li .profile {
  margin-left: 54px;
  line-height: 42px;
}


.wp-github-contributors ul li .profile .user {
  font-size: 12px;
  font-weight: bold;
}

.wp-github-contributors ul li .profile div {
  height: 16px;
  line-height: 16px;
  font-size: 11px;
}
